# Copyright 2022 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Corne nice_nano_v2 nice_view and reset'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano_v2"]'
      shield: '["corne_left","corne_right", "settings_reset"]'
      kconfig: '["CONFIG_BT_CTLR_TX_PWR_PLUS_8=y"]'
